@import 'constants/colors';

.Thumbnail {
  background-color: $color-background;
  box-sizing: border-box;
  max-width: 300px; /*CAPS HEIGHT AND WIDTH SO MORE PHOTOS CAN FIT ON THE PAGE*/
  max-height: 200px;

  border: 1px solid $color-white;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  transition: filter .25s;

  &:hover {
    filter: brightness(75%);
  }

}
